{:open-file-command "emacsclient"
 :builds [{:id "dev"
           :source-paths ["src/cljs" "src/cljc" "env/dev/cljs"]
           :figwheel {:on-jsload "dev.user/on-js-load"}
           :compiler {:main dev.user
                      :asset-path "js/compiled/out"
                      :output-to "target/public/js/app.js"
                      :output-dir "target/public/js/compiled/out"}}
          {:id "cards"
           :source-paths ["src/cljs" "src/cljc" "env/dev/cljs"]
           :figwheel {:devcards true}
           :compiler {:main cards.core
                      :asset-path "js/compiled/cards-out"
                      :output-to "resources/public/js/cards.js"
                      :output-dir "resources/public/js/compiled/cards-out"}}
          {:id "test"
           :source-paths ["src/cljs" "src/cljc" "test/cljs" "test/cljc" "env/test"]
           :figwheel true
           :compiler {:main frontend.test-runner
                      :asset-path "js/compiled/test-out"
                      :output-to "resources/public/js/test.js"
                      :output-dir "resources/public/js/compiled/test-out"
                      :optimizations :none}}]}
