{:sheet-bucket/add-users-and-sheet
 {:txes
  [;; Users
   ;; =====
   [{:db/ident :user/email
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/unique :db.unique/identity
     :db/doc "Email of the user"}

    {:db/ident :user/password-digest
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "The password digest the user"}

    {:db/ident :user/first-name
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "The firstname of the user"}

    {:db/ident :user/last-name
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "The lastname of the user"}

    {:db/ident :playlist/sheets
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/doc "The user's sheets"}]

   ;; Sheets
   ;; ======
   [{:db/ident :sheet/title
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "The title of the sheet"}

    {:db/ident :sheet/artist
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "The artist of the sheet"}

    {:db/ident :sheet/key
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "The key of the sheet"}

    {:db/ident :sheet/sections
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/isComponent true
     :db/doc "The sheet's song sections"}

    ;; Section
    ;; =======
    {:db/ident :section/title
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "The section's title"}

    {:db/ident :section/rows
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/isComponent true
     :db/doc "The section's rows"}

    {:db/ident :row/bars
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/isComponent true
     :db/doc "The row's bars"}

    {:db/ident :bar/chords
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/isComponent true
     :db/doc "The bar's chords"}

    {:db/ident :chord/value
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "The chord's raw value"}]]}

 :sheet-bucket/add-bar-repeats
 {:txes [[{:db/ident :bar/start-repeat
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/doc "Wether or not the bar has a start-repeat sign."}
          {:db/ident :bar/end-repeat
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/doc "Wether or not the bar has an end-repeat sign."}]]}

 :sheet-bucket/add-card-many-positions
 {:txes [[{:db/ident :coll/position
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/doc "A child node's index in parent's card many relation"}]]}

 :sheet-bucket/add-symbols
 {:txes [[{:db/ident :coord/x
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/doc "The x of a coordinate"}
          {:db/ident :coord/y
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/doc "The y of a coordinate"}]

         [{:db/ident :symbol/coda}
          {:db/ident :symbol/segno}
          {:db/ident :symbol/type
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/doc "The type of a symbol"}]

         [{:db/ident :bar/symbols
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many
           :db/isComponent true
           :db/doc "The collection of symbols linked to a bar"}]]}

 :sheet-bucket/bar-attachments-and-texboxes
 {:txes [[{:db/id :bar/symbols
           :db/ident :bar/attachments}
          {:db/id :symbol/type
           :db/ident :attachment/type}
          {:db/ident :attachment/textbox}
          {:db/ident :textbox/value
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "The text value of a texbox"}]]}

 :sheet-bucket/bar-repeat-cycles
 {:txes [[{:db/ident :bar/repeat-cycle
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/doc "The playthrough cycle this bar should be played on repeat."}]]}

 :umuses/add-chord-fermata
 {:txes [[{:db/ident :chord/fermata
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/doc "Wether or not the chord is suspended (fermata)"}]]}

 :umuses/add-time-signatures
 {:txes [[{:db/ident :time-signature/beat
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/doc "The beat (numerator) of a time-signature"}
          {:db/ident :time-signature/beat-type
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/doc "The beat type (denominator) of a time-signature"}
          {:db/ident :bar/time-signature
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/isComponent true
           :db/doc "The bar's time signature"}]]}}
