@font-face {
  font-family: 'Metdemo';
  src: url(../fonts/Metdemo.ttf);
}

body {
  font: 16px / 25px "Montserrat", sans-serif;
  color: $light-grey1;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  color: #4A4A4A;
}

h3 {
  font-weight: bold;
  font-size: 1.5em;
  color: $light-grey1;
}

h4 {
  font-weight: bold;
  font-size: 1.25em;
  color: lighten(#4A4A4A, 5);
}
