$blue1: #007AB7;
$blue2: #005ECC;
$red1: #D25757;
$red2: #FF6D6C;
$green1: #488235;
$white: #F9F9F9;
$light-grey1: #767B83;
$light-grey2: #758a97;
$light-grey3: #b2b9c6;
$light-grey4: #bcced7;
$light-grey5: #e8eaed;
$light-grey10: #F7F9FC;
