.music-symbol {
  height: 40px;
  padding: 0 4px;
}

.music-symbol--segno {
  $svg-ratio: 54 / 80;
  $height: 30px;
  $width: $height * $svg-ratio;
  @include background-image("/img/segno.svg");
  height: $height;
  width: $width;
  position: absolute;
  top: -$height - 4;
  left: -$width / 2;
}

.music-symbol--segno-first-bar {
  @extend .music-symbol--segno;
  top: 8px;
  left: -14px;
}

.music-symbol--coda-start {
  $height: 30px;
  $width: 30px;
  @include background-image("/img/coda.svg");
  height: $height;
  width: $width;
  position: absolute;
  top: -$height - 3;
  left: -$width / 2;
}

.music-symbol--coda-end {
  $height: 30px;
  $width: 30px;
  @include background-image("/img/coda.svg");
  height: $height;
  width: $width;
  position: absolute;
  top: -$height - 3;
  right: -$width / 2 - 1;
}
