.sheet-tools {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 10px 20px;
  box-shadow: 0 -2px 5px 0 rgba(182,181,181,0.50);
  background: #FFF;
}

.sheet-tool {
  padding: 0;
  width: 42px;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;

  &:hover {background: #aac; }
}

.sheet-tool--segno {
  $svg-ratio: 54 / 80;
  $height: 50px;
  $width: $height * $svg-ratio;
  @include background-image("/img/segno.svg");
  height: $height;
  width: $width;
}
