.l-app {
  height: 100%;
}

.l-content {
  padding: 10px;
  @include respond-to($mobile) {
    padding: 25px;
  }
}

.l-flex-row {
  display: flex;
}

.l-space-between {
  justify-content: space-between;
}
