@mixin background-image($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@mixin background-svg($url, $xpos:center, $ypos:center) {
  -webkit-mask:  url($url) no-repeat $xpos $ypos;
  -webkit-mask-size: contain;
  mask: url($url) no-repeat $xpos $ypos;
  mask-size: contain;
}
