@mixin background-image($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@mixin background-svg($url, $xpos:center, $ypos:center) {
  mask: url($url) no-repeat $xpos $ypos;
  mask-size: contain;
}

@mixin respond-to($min, $max: null) {
  @if $max {
    @media only screen and (min-width: $min) and (max-width: $max - 1px) {
      @content;
    }
  } @else if $min  {
    @media only screen and (min-width: $min) {
      @content;
    }
  }
}
