.flex-bar {
  display: flex;
  width: 20%;
  max-width: 300px;
}

.bar {
  position: relative; // For position: absolute music symbols
  padding: 0 3px;

  @include respond-to($mobile, $tablet) {
    padding: 0 15px;
  }

  @include respond-to($tablet) {
    padding: 0 20px;
  }
}
