.draggable {
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;

  &:hover {
    border: 1px solid $light-grey5;
  }
  &.selected {
    border: 1px solid $light-grey4;
  }
}

.draggable--textbox {
  padding: 3px 10px;
}
