@mixin full-screen {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  position: fixed;
  z-index: 999;
  overflow-y: scroll;
  @include full-screen;
}

.modal__background {
  animation: fade 0.3s;
  position: fixed;
  overflow-y: auto;
  background: rgba(0,0,20,0.5);
  @include full-screen;
}

.modal__content {
  animation: appear 0.2s;
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 20px rgba(0,0,0,0.1);
  width: 900px;
  margin: 40px auto;
  text-align: center;
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
