.music-symbol {
  height: 40px;
  padding: 0 4px;
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;

  &:hover {
    border: 1px solid $light-grey5;
  }
  &.selected {
    border: 1px solid $light-grey4;
  }
}

.music-symbol--segno {
  @include background-image("/img/segno.svg");
  background-size: 80% 80%;
}

.music-symbol--coda {
  @include background-image("/img/coda.svg");
  background-size: 80% 80%;
}
