.music-symbol {
  height: 40px;
  padding: 0 4px;
  cursor: pointer;
}

.music-symbol--segno {
  @include background-image("/img/segno.svg");
}

.music-symbol--coda {
  @include background-image("/img/coda.svg");
}
