.navbar {
  display: flex;
  background: $blue1;
  color: $white;
  height: 65px;
}

.navbar__breadcrumbs {
  margin: auto 10px;
  flex: 1;
  display: flex;
}

.navbar__search {
  margin: auto 10px;
  flex: 1;
}

.navbar__right {
  margin: auto 10px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.navbar__home {
  margin: auto 10px;
  transition: background 150ms;
}

.navbar__item--icon {
  width: 45px;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;

  .material-icons {
    color: $white;
    vertical-align: -7px;
    font-size: 28px;
    transition: color 300ms;
  }

  &:hover {
    background: darken($blue1, 5);
  }
}
