.sheet-tools {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 10px 20px;
  margin-right: 5px;
  box-shadow: 0 -2px 5px 0 rgba(182,181,181,0.50);
  background: #FFF;
}

$height: 40px;
.sheet-tool-btn {
  padding: 0;
  width: 50px;
  height: 100%;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background: $light-grey5;
  }
}

.sheet-tool {
  background-color: black;
  background-size: contain;
  height: 100%;
}

.sheet-tool--start-repeat {
  @include background-svg("/img/start-repeat.svg");
}

.sheet-tool--end-repeat {
  @include background-svg("/img/end-repeat.svg");
}

.sheet-tool--segno {
  @include background-svg("/img/segno.svg");
}

.sheet-tool--coda {
  @include background-svg("/img/coda.svg");
}

.sheet-tool--textbox {
  @include background-svg("/img/insert-text.svg");
}

.sheet-tool--repeat-cycle {
  border-left: 2px solid #666;
  border-top: 2px solid #666;
  height: $height / 2;
  background: none;
  margin-bottom: 20px;
  &::after { content: "1"; }
}
