.sheet-tools {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 10px 20px;
  margin-right: 5px;
  box-shadow: 0 -2px 5px 0 rgba(182,181,181,0.50);
  background: #FFF;
}

$height: 40px;
.sheet-tool-btn {
  float: left;
  padding: 0;
  width: 50px;
  height: 100%;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background: $light-grey5;
  }
}

.sheet-tool {
  height: 100%;
}

.sheet-tool--start-repeat {
  @include background-image("/img/start-repeat.svg");
}

.sheet-tool--end-repeat {
  @include background-image("/img/end-repeat.svg");
}

.sheet-tool--segno {
  @include background-image("/img/segno.svg");
}

.sheet-tool--coda {
  @include background-image("/img/coda.svg");
}

.sheet-tool--fermata {
  @include background-image("/img/fermata.svg");
}

.sheet-tool--textbox {
  @include background-image("/img/insert-text.svg");
}

.sheet-tool--repeat-cycle {
  height: $height * 0.4;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 1px 0 0 5px;
  border-left: 2px solid #666;
  border-top: 2px solid #666;
  text-align: left;
  &::after { content: "1"; }
}

.sheet-tool--time-signature {
  font-family: inherit;
  font-size: 1.15em;
  padding-left: 5px;
}
