.sheet {
  max-width: 1250px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,.08),
              0 0 38px 0 rgba(0,0,0,.11);
  margin: 0 auto;
}

.sheet__title,
.sheet__artist {
  text-align: center;

  @include respond-to($mobile) {
    text-align: left;
  }
}
